//! **************************************************************************
// Written by: Map P.20131013 on Thu Aug 03 09:56:00 2023
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "led<1>" LOCATE = SITE "P82" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P83" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P84" LEVEL 1;
COMP "buttons<0>" LOCATE = SITE "P56" LEVEL 1;
COMP "buttons<1>" LOCATE = SITE "P57" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P55" LEVEL 1;
SCHEMATIC END;

