//! **************************************************************************
// Written by: Map P.20131013 on Mon Jul 24 12:13:26 2023
//! **************************************************************************

SCHEMATIC START;
COMP "switch" LOCATE = SITE "P80" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "P92" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "P88" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "P87" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "P85" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P55" LEVEL 1;
COMP "button" LOCATE = SITE "P56" LEVEL 1;
SCHEMATIC END;

